h1{
    color:brown;
    position: fixed;
}
img{
    width: 400px;
    height: 400px;
}
#thirdDiv{
    height: 850px;
    width: 500px;
    background-color: cornflowerblue;
    padding: 50px;
    border-radius: 100px;
    
}
#spanId {
    font-size: 18px;
    margin: 50px
}
body {
    background-image: url("https://p4.wallpaperbetter.com/wallpaper/677/482/562/the-wizard-of-oz-wallpaper-preview.jpg");
    background-repeat: no-repeat;
    /*background-position: center;*/ 
    background-size: 1200px;
    display: flex;
    align-items: center;
    justify-items: center;
}
